<div class="catalog">
    <div class="product-list">
      <div class="product-card" *ngFor="let product of products" (click)="addProductToCheckout(product.id)">
        <img [src]="product.image" [alt]="product.name">
        <div class="descriptions">
          <h1>{{ product.name }}</h1>
          <h1>{{ product.price }}</h1>
        </div>
      </div>
    </div>
</div>

<div class="">
  <div>Finalizar pedido</div>
  <div>Finalizar Conta</div>
</div>

<div class="button-reciept" (click)="navigateToReciept()">
  <fa-icon [icon]="faReceipt"></fa-icon>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
