<div class="catalog">
    <div class="product-list">
      <div class="product-card" *ngFor="let product of products" (click)="findProduct(product.id)">
        <img [src]="product.image" [alt]="product.name">
        <div class="descriptions">
          <h1>{{ product.name }}</h1>
          <h1>{{ product.price }}</h1>
        </div>
      </div>
    </div>
</div>


<div class="footer">
    <fa-icon [icon]="faBurger"></fa-icon>
    <fa-icon [icon]="faMartiniGlassCitrus"></fa-icon>
    <fa-icon [icon]="faIceCream"></fa-icon>
</div>

<!--<div class="footer">-->
<!--  <h1 *ngFor="let category of categories">-->
<!--        <p>{{category.name}}</p>-->
<!--  </h1>-->
<!--</div>-->

<!--<div class="modal" [ngStyle]="{'visibility': visibility}">-->
<!--  <app-modal-product [product]="productSelected" [visibility]="visibility" (newVisibility)="onNewVisibility($event)"></app-modal-product>-->
<!--</div>-->
