.catalog{
  margin-top: 2%;
  margin-bottom: 110px;
  .product-list{
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
    .product-card{
      width: 500px;
      padding: 10px;
      display: flex;
      box-shadow: 1px 1px 10px #a4a4a4;
      border-radius: 10px;
      img{
        width: 250px;
        object-fit: contain;
      }
    }
  }
}

.button-reciept{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 86vh;
  right: 20px;
  border-radius: 100%;
  background-color: black;
  fa-icon{
    color: white;
    font-size: 50px;
  }
}

.footer{
  display: flex;
  justify-content: center;
}

@media (width: 600px) {
  .catalog {
    .product-list {
      .product-card {
        img {
          width: 200px;
          object-fit: contain;
        }
      }
    }
  }
}
